:root{
	font-size:30px;
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.background{
	background-color:#7fffd4;
	height:250px;
}
.side{
	background-color:red;
    width:25%;
	height:200px;
	margin:2px auto;
	float:left;
}
.photo1{
	height:inherit;
}
.tag{
	float:right;
}
.nav{
	background-color:yellow;
	width:100%;
}
.link{
	background-color:#ff7f50;
	height:250px;
	width:25%;
	margin:2px auto;
}
.video1{
	height:inherit;
}
.slides{
	background-color:red;
	height:250px;
	width:100%;
}
.columns{
	width:22%;
	margin:10px 1.5%;
	background-color:green;
	height:200px;
	float:left;
}
.photo2{
	height:inherit;
}
.recipe{
	background-color:purple;
	width:100%;
}
.row{
	width:22%;
	margin:10px 1.5%;
	background-color:#ff7f50;
	height:200px;
	float:left;
}
.text{
	text-align:center;
}
.food1{
	text-align:left;
}
li{
	list-style-type:none;
}
.footer{
	background-color:aqua;
	height:100px;
	clear:both;
}