*,html{
	background-color:red;
	font-size:30px;
	font-family:'arial black'
}
.firstparagraph{
	border-width:12px;
	border-style:dotted;
	border-color:yellow;
	padding-left:20px;
    margin-left:top;
}
.secondparagraph{
	borede 
}
